.project-summary {
  min-height: 77px;
  padding-bottom: 1px;
  margin-bottom: 20px;

  &__title {
    display: inline-block;
    padding: 8px;
    color: #FFF;
    text-decoration: none;
  }

  &__title a {
    font-weight: 500;
  }

  &__title:hover {
    opacity: .75;
  }

  &__date {
    text-decoration: none;
    display: inline-block;
    width: 170px;
  }

  &__date:hover {
    opacity: .75;
  }

  &__date--beige {
    background-color: $mainYellow;
  }

  &__year,
  &__month {
    display: block;
    font-size: 1rem;
    font-weight: 300;
  }

  &__year {
    text-transform: uppercase;
  }
}

.odd-project {
  .project-summary__title {
    background-color: $mainOrange;
  }
}

.event-project {
  .project-summary__title {
    background-color: $secondaryGreen;
  }
}